Repository NeurodataWithoutBorders/nwbinspector, pull requests merged in 2022-07, with the labels that each got.

#221 Allow string importance threshold
  nwbinspector/nwbinspector.py
  tests/test_inspector.py
  tests/unit_tests/test_tables.py
Labels: category: enhancement

#222 Add negative job slicing
  nwbinspector/nwbinspector.py
  nwbinspector/tools.py
  nwbinspector/utils.py
  tests/test_utils.py
Labels: category: enhancement

#226 add checks for order_of_images
  nwbinspector/checks/images.py
  tests/unit_tests/test_images.py
Labels: category: new check

#147 [Documentation]: Guide for new Formatter
  docs/user_guide/command_line_usage.rst
Labels: topic: docs

#224 Update subject sub-species Best Practice
  docs/best_practices/nwbfile_metadata.rst
Labels: topic: docs

#234 add checks and tests for bounds of radians and degrees
  nwbinspector/checks/behavior.py
  tests/unit_tests/test_behavior.py
Labels: category: new check

#228 More general curl fix
  nwbinspector/utils.py
Labels: category: bug, priority: high

#230 Add caching for repeated table data calls
  nwbinspector/checks/tables.py
  nwbinspector/utils.py
  tests/unit_tests/test_tables.py
  tests/unit_tests/test_time_series.py
Labels: category: enhancement

#231 [New Check] Entire column of a table is not NaN
  nwbinspector/checks/tables.py
  tests/unit_tests/test_tables.py
Labels: category: new check

#237 Make Image checks and tests safe
  nwbinspector/checks/images.py
  tests/unit_tests/test_images.py
Labels: category: bug, topic: testing

#236 [Documentation]: add visual example of file aggregation
  docs/images/example_file_path_aggregation.png
  docs/images/tmp.txt
  docs/user_guide/command_line_usage.rst
Labels: topic: docs

#245 [MNT] - Fix typos
  nwbinspector/checks/general.py
  nwbinspector/inspector_tools.py
  nwbinspector/nwbinspector.py
  nwbinspector/register_checks.py
  nwbinspector/utils.py
Labels: topic: docs
