Repository NeurodataWithoutBorders/nwbinspector, pull requests merged in 2022-03, with the labels that each got.

#72 [Add Check]: table column could be boolean
  nwbinspector/checks/tables.py
  nwbinspector/register_checks.py
  nwbinspector/utils.py
  tests/test_utils.py
  tests/unit_tests/test_tables.py
Labels: new check

#86 add config file option
  nwbinspector/config.schema.json
  nwbinspector/dandi.inspector_config.yaml
  nwbinspector/nwbinspector.py
  nwbinspector/register_checks.py
  requirements.txt
  setup.py
  tests/test_inspector.py
  tests/test_register_check.py
Labels: enhancement

#91 removed NO_SEVERITY; adjusted tests
  nwbinspector/register_checks.py
  tests/test_inspector.py
  tests/test_register_check.py
  tests/unit_tests/test_containers.py
  tests/unit_tests/test_ecephys.py
  tests/unit_tests/test_nwbfile_metadata.py
  tests/unit_tests/test_ophys.py
  tests/unit_tests/test_tables.py
  tests/unit_tests/test_time_series.py
Labels: code reduction

#90 add check that RoiResponseSeries.rois points to PlaneSegmentation table
  nwbinspector/checks/ophys.py
  tests/unit_tests/test_ophys.py
Labels: new check

#92 Modular PR: flatten output and generalize organization
  nwbinspector/inspector_tools.py
  nwbinspector/nwbinspector.py
  nwbinspector/register_checks.py
  tests/test_inspector.py
  tests/test_tools.py
  tests/true_nwbinspector_report.txt
Labels: enhancement

#93 Modular PR: yield messages and flatten main iteration
  nwbinspector/nwbinspector.py
  tests/test_inspector.py
Labels: enhancement

#94 added parallelization
  nwbinspector/nwbinspector.py
  setup.py
  tests/test_inspector.py
Labels: category: enhancement

#100 Add first draft of docs
  README.md
  docs/_static/css/custom.css
  docs/advanced_usage.md
  docs/api/checks.rst
  docs/api/nwbinspector.rst
  docs/api/register_check.rst
  docs/api/tools.rst
  docs/api/utils.rst
  docs/best_practices/nwbfile_metadata.rst
  docs/best_practices/other.rst
  docs/best_practices/tables.rst
  docs/best_practices/time_series.rst
  docs/best_practices_index.rst
  docs/command_line_usage.md
  docs/conf.py
  docs/developer_guide.rst
  docs/index.rst
  docs/installation.rst
  docs/logo/logo.pdf
  docs/logo/logo.png
  docs/logo/logo.pptx
  docs/usage_as_a_library.md
  docs/user_guide.rst
  nwbinspector/nwbinspector.py
  requirements-rtd.txt
Labels: topic: docs

#104 [Feature]: External Links in CI
  .github/workflows/test_external_links.yml
  .github/workflows/testing.yml
  docs/conf.py
  docs/conf_extlinks.py
  docs/developer_guide.rst
  docs/index.rst
  docs/installation.rst
Labels: topic: docs

#96 [Bug]: Configuration fixes and tests
  nwbinspector/config.schema.json
  nwbinspector/nwbinspector.py
  tests/test_check_configuration.py
  tests/test_inspector.py
Labels: category: bug

#106 [Bug]: Fix binary capability
  nwbinspector/checks/tables.py
  nwbinspector/inspector_tools.py
  nwbinspector/nwbinspector.py
  tests/unit_tests/test_tables.py
Labels: category: bug, priority: critical

#102 [Feature]: add internal configs
  nwbinspector/internal_configs/dandi.inspector_config.yaml
  nwbinspector/nwbinspector.py
Labels: category: enhancement, priority: medium

#107 [Documentation]: added more library usage
  .github/workflows/testing.yml
  docs/conf_extlinks.py
  docs/user_guide/advanced_usage.md
  docs/user_guide/advanced_usage.rst
  docs/user_guide/command_line_usage.rst
  docs/user_guide/installation.rst
  docs/user_guide/library_usage.rst
  docs/user_guide/usage_as_a_library.md
  docs/user_guide/user_guide.rst
  nwbinspector/__init__.py
Labels: topic: docs

#110 Fix collections
  .github/workflows/testing.yml
  nwbinspector/nwbinspector.py
  nwbinspector/register_checks.py
Labels: priority: low, topic: testing, compatability: dependencies

#114 [Documentation]: local API links
  docs/best_practices/time_series.rst
  docs/conf.py
Labels: topic: docs

#123 [Add check]: all ogen sites are referenced by ogen series
  docs/best_practices/best_practices_index.rst
  docs/best_practices/ogen.rst
  nwbinspector/checks/nwb_containers.py
  nwbinspector/checks/ogen.py
  nwbinspector/checks/ophys.py
  tests/unit_tests/test_ogen.py
Labels: category: new check

#126 [Add Check]: Add check for ElectricalSeries.electrodes
  nwbinspector/checks/ecephys.py
  tests/unit_tests/test_ecephys.py
Labels: category: new check

#132 [Add Check]: related_publications is a DOI
  docs/best_practices/nwbfile_metadata.rst
  nwbinspector/checks/nwbfile_metadata.py
  tests/unit_tests/test_nwbfile_metadata.py
Labels: category: new check

#131 [Add Check]: Check NWBFile keywords
  docs/best_practices/nwbfile_metadata.rst
  nwbinspector/checks/nwbfile_metadata.py
  tests/unit_tests/test_nwbfile_metadata.py
Labels: category: new check

#129 [Documentation]: Improve Z-axis description
  docs/best_practices/ecephys.rst
Labels: topic: docs

#133 [Add Check]: Single-row tables
  docs/best_practices/tables.rst
  nwbinspector/checks/tables.py
  tests/unit_tests/test_tables.py
Labels: category: new check

#136 [Add Check]: TimeSeries unknown resolution
  docs/best_practices/time_series.rst
  nwbinspector/checks/time_series.py
  tests/unit_tests/test_time_series.py
Labels: category: new check

#121 [Feature]: PyNWB validation optional and update config for DANDI
  MANIFEST.in
  nwbinspector/__init__.py
  nwbinspector/config.schema.json
  nwbinspector/internal_configs/dandi.inspector_config.yaml
  nwbinspector/nwbinspector.py
  tests/test_check_configuration.py
Labels: category: enhancement

#137 [Add Check]: missing 'unit' in TimeSeries
  docs/best_practices/time_series.rst
  nwbinspector/checks/time_series.py
  tests/unit_tests/test_time_series.py
Labels: category: new check

#138 [Add Check]: attempt to check for 'default' start times
  docs/best_practices/nwbfile_metadata.rst
  nwbinspector/checks/nwbfile_metadata.py
  tests/unit_tests/test_nwbfile_metadata.py
Labels: category: new check

#142 Add readthedocs badge to readme
  README.md
Labels: priority: low, topic: docs

#143 Suppress cached namespace warnings
  nwbinspector/nwbinspector.py
Labels: priority: low

#146 [Feature]: Adding header to JSON save (CLI)
  nwbinspector/inspector_tools.py
  nwbinspector/nwbinspector.py
Labels: category: enhancement

#145 Added another warning filter
  nwbinspector/nwbinspector.py
Labels: priority: low

#144 [Bug]: session_start_time not readable
  nwbinspector/__init__.py
  nwbinspector/nwbinspector.py
  nwbinspector/register_checks.py
  tests/test_inspector.py
  tests/unit_tests/test_ecephys.py
  tests/unit_tests/test_nwbfile_metadata.py
  tests/unit_tests/test_ophys.py
Labels: category: bug, priority: high
