Repository NeurodataWithoutBorders/nwbinspector, pull requests merged in 2022-12, with the labels that each got.

#321 Added special skip condition for check_timestamps_match
  src/nwbinspector/checks/time_series.py
  tests/unit_tests/test_time_series.py
Labels: category: proposal

#322 add check that IndexSeries is not pointed at a TimeSeries
  src/nwbinspector/checks/images.py
  tests/unit_tests/test_images.py
Labels: category: new check

#325 Add inspector check for negative timestamps
  docs/best_practices/nwbfile_metadata.rst
  src/nwbinspector/checks/tables.py
  src/nwbinspector/checks/time_series.py
  tests/unit_tests/test_tables.py
  tests/unit_tests/test_time_series.py
Labels: category: new check

#330 Bump Numpy version
  CHANGELOG.md
  requirements.txt
Labels: compatability: dependencies
