Repository NeurodataWithoutBorders/nwbinspector, pull requests merged in 2022-04, with the labels that each got.

#124 [Feature]: Generalized Formatting
  nwbinspector/__init__.py
  nwbinspector/inspector_tools.py
  nwbinspector/nwbinspector.py
  nwbinspector/register_checks.py
  tests/test_inspector.py
  tests/test_tools.py
  tests/true_nwbinspector_default_report.txt
  tests/true_nwbinspector_report.txt
  tests/unit_tests/test_nwbfile_metadata.py
Labels: category: enhancement

#130 [Documentation]: General BP section
  docs/best_practices/general.rst
Labels: topic: docs

#151 fix ogen links
  docs/best_practices/ogen.rst
Labels: topic: docs

#160 [Documentation]: added links to main library page
  docs/api/nwbinspector.rst
  docs/api/register_check.rst
  docs/user_guide/advanced_usage.rst
  docs/user_guide/library_usage.rst
Labels: topic: docs

#162 [Modify Check]: allow single row check to skip special tables
  nwbinspector/checks/tables.py
  tests/unit_tests/test_tables.py
Labels: category: new check

#161 [Modify Check]: elevated species binomial form to violation
  nwbinspector/checks/nwbfile_metadata.py
  tests/unit_tests/test_nwbfile_metadata.py
Labels: category: new check

#164 [Feature]: add repr for InspectorMessage
  nwbinspector/register_checks.py
Labels: category: enhancement

#167 [Add Check]: external file existence for ImageSeries
  nwbinspector/__init__.py
  nwbinspector/checks/image_series.py
  nwbinspector/tools.py
  tests/unit_tests/test_image_series.py
Labels: category: new check

#173 [Feature]: swap to ProcessPool and add progress bar
  nwbinspector/nwbinspector.py
  setup.py
Labels: category: enhancement

#174 add checks and tests for feasible values of lambda
  nwbinspector/checks/ophys.py
  tests/unit_tests/test_ophys.py
Labels: category: new check

#166 [Feature]: Direct inspection on Dandisets
  .github/workflows/testing.yml
  nwbinspector/nwbinspector.py
  nwbinspector/register_checks.py
  nwbinspector/tools.py
  setup.py
  tests/test_inspector.py
Labels: category: enhancement

#125 [Documentation]: Tables and Extensions BP sections
  docs/best_practices/extensions.rst
  docs/best_practices/tables.rst
  docs/conf_extlinks.py
  docs/developer_guide.rst
  nwbinspector/checks/tables.py
Labels: topic: docs

#168 [Add Check]: Spike times not in unobserved intervals
  nwbinspector/checks/ecephys.py
  tests/unit_tests/test_ecephys.py
Labels: category: new check

#163 [Add Check]: string-valued table elements contain dictionaries
  nwbinspector/checks/tables.py
  nwbinspector/utils.py
  tests/test_utils.py
  tests/unit_tests/test_tables.py
Labels: category: new check

#181 [Reduction]: Remove single flags to avoid confusion
  nwbinspector/nwbinspector.py
  tests/test_inspector.py
Labels: category: code reduction

#182 [Reduction]: remove coloration
  nwbinspector/inspector_tools.py
  nwbinspector/nwbinspector.py
  tests/test_inspector.py
Labels: category: code reduction

#185 [Add Check]: external_file is relative, not absolute
  nwbinspector/checks/image_series.py
  tests/unit_tests/test_image_series.py
Labels: category: new check

#187 [Feature]: Save empty report (mostly print header)
  nwbinspector/nwbinspector.py
Labels: category: enhancement

#202 [Bug] fix bytestring parsing
  nwbinspector/checks/image_series.py
  nwbinspector/checks/nwbfile_metadata.py
  tests/unit_tests/test_image_series.py
  tests/unit_tests/test_nwbfile_metadata.py
  tests/unit_tests/test_tables.py
Labels: category: bug, priority: critical

#203 [Bug]: fix for None resolution in TimeSeries subtype
  nwbinspector/checks/time_series.py
  tests/unit_tests/test_time_series.py
Labels: category: bug, priority: critical
